<footer class="blog-footer navbar-fixed-bottom">
    <div class="container">
        <div class="row">

            <div class="col-sm-8 col-md-8">
                <p>Guide by <a href="https://www.facebook.com/vuongnq">Ti</a> and <a href="https://www.facebook.com/Hanamichi146">Ti</a>.</p>
            </div>
            <div class="col-sm-1 col-md-1">
                <a title="App for Android" href="https://play.google.com/store/apps/details?id=com.boredninjas.senaguide">
                    <i class="fa fa-android fa-3 icon-link"></i>
                </a>
            </div>
            <div class="col-sm-1 col-md-1">
                <a title="App for iOS" href="https://itunes.apple.com/us/app/sena-guide/id1079959556?ls=1&mt=8">
                    <i class="fa fa-apple fa-3 icon-link"></i>
                </a>
            </div>
            <div class="col-sm-2 col-md-2">
                
            </div>
        </div>
    </div>
</footer>
