<div id="navbar">
    <nav class="navbar navbar-transparent" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <i class="glyphicon glyphicon-home"></i>
                    <span><b>Seven Knights</b></span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="blog-nav-item" href="/heroes">Codex</a></li>
                    <li><a class="blog-nav-item" href="/castlerush">Castle Rush</a></li>
                    <li><a class="blog-nav-item" href="/raid">Raid</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!--
<div class="blog-masthead navbar-fixed-top">
    <div class="container">
        <nav class="blog-nav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="blog-nav-item" href="/">
                    <i class="glyphicon glyphicon-home"></i>
                    <span><b>Seven Knights</b></span>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <a class="blog-nav-item" href="/heroes">Heroes</a>
                
                <a class="blog-nav-item" href="/castlerush">Castle Rush</a>
                
                <a class="blog-nav-item" href="/raid">Raid</a>
                
            </div>
        </nav>
    </div>
</div>-->
