<div class="blog-masthead navbar-fixed-top">
    <div class="container">
        <nav class="blog-nav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="blog-nav-item" href="/">
                    <i class="glyphicon glyphicon-home"></i>
                    <span><b>Seven Knights</b></span>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <a class="blog-nav-item" href="/heroes">Heroes</a>
                
                <a class="blog-nav-item" href="/castlerush">Castle Rush</a>
                
                <a class="blog-nav-item" href="/raid">Raid</a>
                
            </div>
        </nav>
    </div>
</div>