<html>

<head>
    <title>
        <%- Title %>
    </title>
    <% include ../partials/head %>
</head>

<body>
    <div>
        <% include ../partials/navigation %>
    </div>
    <div class="container main-content">
        <section>
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="/hero?name=<%= Config.R_Name %>"><img src="<%= Config.R_Img.url %>" style="width: 75%; margin: 0 auto;"></a>
                    </div>

                    <div class="review-caption">
                        <h2>Daily Review: <%= Config.R_Name %></h2>
                    </div>
                </div>
            </div>

            <div style="text-align: center">
                <a><img src="../src/img/btn_catalog.png" atl="Codex" class="btn btn-round" style="width: 15%" /></a>
                <a><img src="../src/img/btn_castle.png" atl="Castle Rush" class="btn btn-round" style="width: 15%" /></a>
                <a><img src="../src/img/btn_raid.png" atl="Raid" class="btn btn-round" style="width: 15%" /></a>
            </div>
            <!--
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active">
                    <div class="item">
                        <img src="../src/img/sevenknights/dellons.png" class="img-rounded" style="width: 75%">
                        <div class="carousel-caption">
                            <h3>Dellons</h3>
                        </div>
                    </div>
                </div>
            </div>
-->

        </section>
    </div>
    <div>
        <% include ../partials/footer %>
    </div>
</body>

</html>

<script>
    (function() {
        $('#knights-stack li:eq(0) a').click()
    }());

</script>
