<html>

<head>
    <title>
        <%- Title %>
    </title>
    <% include ../partials/head %>
</head>

<body>
    <div>
        <% include ../partials/navigation %>
    </div>
    <div class="container main-content">
        <section>
            <h3>Team builder:</h3>
            <blockquote>
                <p>S.t goes here !</p>
            </blockquote>
            <div class="row">
                <div class="col-md-2 col-sm-2">
                </div>
                <div class="col-md-2 col-sm-2">
                    <button class="btn btn-default btn-fill btn-block">Basic</button>
                </div>
                <div class="col-md-2 col-sm-2">
                    <button class="btn btn-default btn-fill btn-block">Balanced</button>
                </div>
                <div class="col-md-2 col-sm-2">
                    <button class="btn btn-default btn-fill btn-block">Offensive</button>
                </div>
                <div class="col-md-2 col-sm-2">
                    <button class="btn btn-default btn-fill btn-block">Defensive</button>
                </div>
                <div class="col-md-2 col-sm-2">
                </div>
            </div>
        </section>
    </div>
    <div>
        <% include ../partials/footer %>
    </div>
</body>

</html>
